body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
#more {display: none;}
#more2 {display: none;}
#more3 {display: none;}
#more4 {display: none;}
#more5 {display: none;}
.btn-default{
    background-color: #fff;
    border-color: #fff;
    color: #448cec;
}
.btn-info{
    background: transparent;
    border-color: transparent;
    border:0px;
    color:#fff;
}
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}
.icon-nav{
    margin-top: -40px;
    margin-bottom: 0px;
}
.navbar-default .navbar-nav>li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar-default .navbar-nav>li>a {
    color: #448cec;
    font: normal normal bold 14px/60px Montserrat;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px  -7px;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #448cec;
}
.navbar-default .navbar-nav>li>a .icon-nav{
    display: none;
}
.navbar-default .navbar-nav>li>a:hover .icon-nav{
    display: block;
    color: #448cec;
    margin-bottom: 0px;;
}
.navbar-brand img{
    width:25%;
    margin-top:10px;
}

@media(max-width:768px){
    .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 34px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 0px;
    }
    .navbar-nav {
        margin: 7.5px  -46px !important;
    }
    .navbar-brand img {
        width: 45%;
        margin-top: -50px;
    }
    .navbar-brand {
        float: left;
        padding: 8px 15px;
        height:10px;
        line-height: 0px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #448cec;
    }
    .navbar-collapse {
        padding-right: 44px;
        padding-left: 74px;
        overflow-x: visible;
        background: #ffffffe0;
        /* float: left; */
        z-index: 999;
        position: absolute;
        width: 70%;
        left: 45%;
        height:100vh !important;
    }
    .navbar-default .navbar-nav>li>a {
        color: #448cec;
        font: normal normal 18px/58px Montserrat;
        letter-spacing: 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px  -7px;
    }
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        max-height:100vh !important;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #fff;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #ffffff;
    }
    .navbar-default .navbar-nav>li {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    }
    .navbar-nav>li>a {
        padding-top: 0px !important;
        padding-bottom: 3px !important;
    }
}

/* services header */

.service-header{
    background-color: #434F6B;
    margin-top: 100px;
}
.service-cta{
    display: flex;
    justify-content:right;
    align-items: center;
    padding:20px 0px;
}
.service-cta h2{
    color:#448CEC;
    text-align: right;
    font: normal normal 200 50px/81px Montserrat;
    letter-spacing: 12.9px;
}
@media(max-width:768px){
    .service-cta {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
    }
    .service-cta h2{
        color:#448CEC;
        text-align: center;
        font: normal normal 200 40px/81px Montserrat;
        letter-spacing: 10.9px;
    }
}


/* products service 1 otc desk */
.wrapper-products{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-products1{
    display: flex;
    justify-content:left;
    align-items:flex-start;
    flex-direction: column;
    padding:80px 0px;
}

.product-service1 h3{
    font: normal normal 200 60px Montserrat;
    letter-spacing: 0px;
    color: #448CEC;
    opacity: 1;
    margin-bottom: 60px;
}
.product-header1 h3{
    font: normal normal 200 45px Montserrat;
    letter-spacing: 0px;
    color: #448CEC;
    opacity: 1;
    margin-bottom:0px;
}
.product-service1 p{
    font: normal normal normal 14px/28px Century Gothic;
    letter-spacing: 0.9px;
    color: #434F6B99;
    opacity: 1;
}  

.product-img img{
    width:100%;
}

.product-service1{
    width:40%;
}
.product-img{
    width:40%;
}
.line1{
    width:20%;
}
.mobile-icon1{
    margin-top:0px;
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-icon1 img{
    width:55%;
}
@media(max-width:768px){
    .wrapper-products {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .service-products1{
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        padding-top:0px;
        padding-bottom: 80px;
        text-align: center;
    }
    .product-service1 {
        width: 100%;
    }
    .product-img {
        width: 100%;
    }
    .line1 {
        display:none;
    }
    .product-header{
        display: none;
    }
}

/* products service 2 wallet */

.wrapper-products{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-products2{
    display: flex;
    justify-content:left;
    align-items:flex-start;
    flex-direction: column;
    padding:80px 0px;
    background: transparent linear-gradient(180deg, #4BD2EC 0%, #448CEC 100%) 0% 0% no-repeat padding-box;
}

.product-service2 h3{
    font: normal normal 200 60px Montserrat;
    letter-spacing: 0px;
    color: #fff;
    opacity: 1;
    margin-bottom: 80px;
}
.product-header2 h3{
    font: normal normal 200 50px Montserrat;
    letter-spacing: 0px;
    color: #fff;
    opacity: 1;
    margin-bottom:0px;
}
.product-service2 p{
    font: normal normal normal 13px/28px Century Gothic;
    letter-spacing: 0.9px;
    color: #FFFFFF;
    opacity: 1;
}  
.product-img img{
    width:100%;
}

.product-service2{
    width:40%;
}
.product-img{
    width:40%;
    padding-top: 120px;
    padding-left: 60px;
}
.line2{
    width:20%;
}
@media(max-width:768px){
    .wrapper-products {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .service-products2{
        display: flex;
        justify-content:center;
        align-items:center;
        text-align: center;
        flex-direction: column;
        padding-top:0px;
        padding-bottom:80px;
        background: transparent linear-gradient(180deg, #4BD2EC 0%, #448CEC 100%) 0% 0% no-repeat padding-box;
    }
    .product-service2 {
        width: 100%;
    }
    .product-img {
        width: 100%;
        padding:15px;
    }
    .line2 {
        display:none;
    }
    .product-header{
        display: none;
    }
}



/* products service 3 gold atm */

.wrapper-products{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-products3{
    display: flex;
    justify-content:left;
    align-items:flex-start;
    flex-direction: column;
    padding:20px 0px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
.product-header3 h3{
    font: normal normal 200 45px Montserrat;
    letter-spacing: 0px;
    color: #448CEC;
    opacity: 1;
    margin-bottom:0px;
}

.product-service3 h3{
    font: normal normal 200 60px Montserrat;
    letter-spacing: 0px;
    color: #448CEC;
    opacity: 1;
    margin-bottom: 80px;
}
.product-service3 p{
    font: normal normal normal 13px/28px Century Gothic;
    letter-spacing: 0.9px;
    color: #434F6B99;
    opacity: 1;
}  
.product-img img{
    width:100%;
}

.product-service3{
    width:40%;
}
.service-products3 .product-img{
    width:40%;
    padding-top: 120px;
    padding-left: 60px;
}
.line3{
    width:20%;
}
@media(max-width:768px){
    .wrapper-products {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .service-products3{
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        padding-top:0px;
        padding-bottom: 80px;
        text-align: center;
        background: #FFFFFF 0% 0% no-repeat padding-box;
    }
    .product-service3 {
        width: 100%;
    }
    .service-products3 .product-img {
        width: 100%;
        padding:47px;
    }
    .line3 {
        display:none;
    }
    .product-header{
        display: none;
    }
}

/* products service 4 pos machines atm */

.wrapper-products{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-products4{
    display: flex;
    justify-content:left;
    align-items:flex-start;
    flex-direction: column;
    padding-top:11px;
    padding-bottom: 60px;
    background: transparent linear-gradient(180deg, #4BD2EC 0%, #448CEC 100%) 0% 0% no-repeat padding-box;
}

.product-service4 h3{
    font: normal normal 200 60px Montserrat;
    letter-spacing: 0px;
    color: #fff;
    opacity: 1;
    margin-bottom: 80px;
}
.product-header4 h3{
    font: normal normal 200 45px Montserrat;
    letter-spacing: 0px;
    color: #fff;
    opacity: 1;
    margin-bottom:0px;
    text-align: center;
}
.product-service4 p{
    font: normal normal normal 13px/28px Century Gothic;
    letter-spacing: 0.9px;
    color: #fff;
    opacity: 1;
}  
.product-img img{
    width:100%;
}
.product-service4{
    width:40%;
}
.product-img{
    width:40%;
    padding-top: 120px;
    padding-left: 60px;
}
.line4{
    width:20%;
}
@media(max-width:768px){
    .wrapper-products {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .service-products4{
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        text-align: center;
        padding-top:0px;
        padding-bottom: 60px;
        background: transparent linear-gradient(180deg, #4BD2EC 0%, #448CEC 100%) 0% 0% no-repeat padding-box;
    }
    .product-service4 {
        width: 100%;
    }
    .service-products4 .product-img {
        width: 100%;
        padding:35px;
        padding-left:78px;
    }
    .line4 {
        display:none;
    }
    .product-header{
        display: none;
    }
}



/* products service 5 AI */

.wrapper-products{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-products5{
    display: flex;
    justify-content:left;
    align-items:flex-start;
    flex-direction: column;
    padding:80px 0px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
.product-header5 h3{
    font: normal normal 200 45px Montserrat;
    letter-spacing: 0px;
    color: #448CEC;
    opacity: 1;
    margin-bottom:0px;
}
.product-service5 h3{
    font: normal normal 200 60px Montserrat;
    letter-spacing: 0px;
    color: #448CEC;
    opacity: 1;
    margin-bottom: 80px;
}
.product-service5 p{
    font: normal normal normal 13px/28px Century Gothic;
    letter-spacing: 0.9px;
    color: #434F6B99;
    opacity: 1;
}  
.product-img img{
    width:100%;
}

.product-service5{
    width:40%;
}
.service-products5.product-img{
    width:40%;
    padding-top: 120px;
    
}
.line5{
    width:20%;
}
@media(max-width:768px){
    .wrapper-products {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .service-products5{
        display: flex;
        justify-content:center;
        align-items:center;
        text-align: center;
        flex-direction: column;
        padding-top:0px;
        padding-bottom: 80px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
    }
    .product-service5 {
        width: 100%;
    }
    .product-img {
        width: 100%;
    padding-top: 54px;
    padding-left: 24px;
    padding-bottom: 40px;
    padding-right: 15px;
    }
    .service-products2 .product-img {
        width: 100%;
        padding-top: 54px;
        padding-left: 75px;
        padding-bottom: 40px;
        padding-right: 46 px;
    }
    .line5 {
        display:none;
    }
    .product-header{
        display: none;
    }
}


/* lines */

.line1{
    position: absolute;
    z-index: 2;
    width: 0.5px;
    background-color: #448CEC;
    height:635px;
    left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@media(min-width:1400px) and (max-width:1600px){
    .line1 {
        position: absolute;
        z-index: 2;
        width: 0.5px;
        background-color: #448CEC;
        height: 636px;
        left: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon-oct {
        margin-top: -330px;
    }
}
@media(min-width:1660px) and (max-width:1920px){
    .line1{
        position: absolute;
        z-index: 2;
        width: 0.5px;
        background-color: #448CEC;
        height:636px;
        left: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.icon-oct {
    margin-top: -331px;
}
.line1 img{
    z-index:2;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
    
}

.line2 {
    position: absolute;
    z-index: 2;
    width: 0.5px;
    background-color: #ffffff;
    left: 80px;
    height:750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line2 img{
    z-index:2;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
}


@media(min-width:1400px) and (max-width:1600px){
    .line2{
        position: absolute;
        z-index: 2;
        width: 0.5px;
        background-color: #fff;
        height:895px;
        left: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media(min-width:1660px) and (max-width:1920px){
    .line2{
        position: absolute;
        z-index: 2;
        width: 0.5px;
        background-color: #fff;
        height:895px;
        left: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.line3 {
    position: absolute;
    z-index: 2;
    width: 0.5px;
    background-color: #448CEC;
    left: 80px;
    height:688px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line3 img{
    z-index:2;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
}
@media(min-width:1400px) and (max-width:1600px){
    .line3{
        position: absolute;
        z-index: 2;
        width: 0.5px;
        background-color: #448CEC;
        height:688px;
        left: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media(min-width:1660px) and (max-width:1920px){
    .line3{
        position: absolute;
        z-index: 2;
        width: 0.5px;
        background-color: #448CEC;
        height:688px;
        left: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.line4 {
    position: absolute;
    z-index: 2;
    width: 0.5px;
    background-color: #fff;
    left: 80px;
    height:718px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}
.line4 img{
    z-index:2;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
}
@media(min-width:1400px) and (max-width:1600px){
    .line4{
        position: absolute;
        z-index: 2;
        width: 0.5px;
        background-color: #fff;
        height:718px;
        left: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media(min-width:1660px) and (max-width:1920px){
    .line4{
        position: absolute;
        z-index: 2;
        width: 0.5px;
        background-color: #fff;
        height:718px;
        left: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.line5 {
    position: absolute;
    z-index: 2;
    width: 0.5px;
    background-color: #448CEC;
    left: 80px;
    height:772px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 48px; */
}
.line5 img{
    z-index:2;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
}
@media(min-width:1400px) and (max-width:1600px){
    .line5{
        position: absolute;
        z-index: 2;
        width: 0.5px;
        background-color: #448CEC;
        height:772px;
        left: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media(min-width:1660px) and (max-width:1920px){
    .line5{
        position: absolute;
        z-index: 2;
        width: 0.5px;
        background-color: #448CEC;
        height:772px;
        left: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:768px){
    .line1{
        display: none;
    }
    .line2{
        display: none;
    }
    .line3{
        display: none;
    }
    .line4{
        display: none;
    }
    .line5{
        display: none;
    }
}


.slider1{
    background: #434F6B 0% 0% no-repeat padding-box;
    opacity: 1;
    height:600px;
}
.carousel{
    height: 450px;
    width: 100%; 
}
.carousel-control.right{
    background-image: none;
    display: none;
}
.carousel-control.left{
    background-image: none;
    display: none;
}
.carousel-caption{
    position:inherit;
    right:0px;
    left:0px;
    top:40px;
    bottom:0px;
    padding-top: 30px;
    height:auto;
    width: 100%;
}
.carousel-caption img{
    width:70px;
}
.carousel-caption h2{
    font: normal normal 300 34px/60px Montserrat;
    letter-spacing: 2.5px;
    color: #4BD2EC;
    opacity: 1;
    text-decoration: none;
    background-image: none;
}
.carousel-caption p{
    font: normal normal normal 11.8px/20px Century Gothic;
    letter-spacing: 0.9px;
    color: #FFFFFF;
    opacity: 1;
}
.carousel-inner {
    position: relative;
    width: 70%;
    overflow:hidden;
    height:600px;  
    transition: ease-in-out;      
}
.carousel-indicators li {
    display: inline-block;
    width: 90px;
    height: 3px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
    border: none;
}
.carousel-indicators .active {
    width: 90px;
    height: 5px;
    margin: 0;
    background-color:#4BD2EC;
    border: none;
}
.slider1 h1{
    text-align: center;
    font-size: 28px;
    letter-spacing: 5.2px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 76px;
    line-height: 4rem;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    position: absolute;
    top: 20%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

@media(max-width:768px){
    .carousel-caption img{
        width:85px;
   }
   .carousel {
       height: 500px;
       width: 100%;
   }
   .carousel-caption{
    position:inherit;
    right:0px;
    left:0px;
    top:14px;
    bottom:0px;
    padding-top: 30px;
    height:auto;
    width: 100%;
}
.carousel-control.right{
    background-image: none;
    display:block;
}
.carousel-control.left{
    background-image: none;
    display: block;
}
   .slider1 {
       background: #434F6B 0% 0% no-repeat padding-box;
       opacity: 1;
       height: 694px;
   }
   .carousel-caption p {
       font: normal normal normal 12px/25px Century Gothic;
       letter-spacing: 0.9px;
       color: #FFFFFF;
       opacity: 1;
   }
   .carousel-inner {
       position: relative;
       width: 100%;
       overflow: hidden;
       height: 600px;
       transition: ease-in-out;
   }
    .carousel-indicators li {
        display: inline-block;
        width: 40px;
        height: 3px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        border-radius: 10px;
        border: none;
    }
    
    .carousel-indicators .active {
        width: 30px;
        height: 5px;
        margin: 0;
        background-color:#4BD2EC;
        border: none;
    }
}
.icon-oct {
    margin-top: -327px;
}
.icon-wallet{
    margin-top: -441px;
}
.icon-gold{
    margin-top: -419px;
}
.icon-pos{
    margin-top: -372px;
}
.icon-ai{
    margin-top: -361px;
}

.footer-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer-menu{
width:33%;
margin-top: -20px;
}
.footer-info{
    width:33%;
    padding-top: 90px;
    display: flex;
    justify-content:center;
    align-items: start;
    flex-direction: column;
}
.footer-info h2{
    letter-spacing: 1px;
    color: #448CEC;
    text-transform: uppercase;
    opacity: 1;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.footer-info p{
    letter-spacing: 0.7px;
    color: #434F6B80;
    opacity: 1;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.logo-footer{
    width:33%;
}
.logo-footer{
    margin-top: -100px;
}
.logo-footer img{
    width:80%;
}
.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    /* flex-direction: row; */
    /* text-align: center; */
}
.footer-icons .location{
    width:20px;
    margin-right: 16px;
    margin-top: -50px;
    opacity: 1;
}
.footer-icons img{
    width:20px;
    margin-right: 16px;
    margin-top: -20px;
    opacity: 1;
}

.footer-menu h5{
    letter-spacing: 1px;
    color: #448CEC;
    text-transform: uppercase;
    opacity: 1;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-left: 10px;
}
.footer-bottom{
    background: transparent linear-gradient(153deg, #4BD2EC 0%, #448CEC 100%) 0% 0% no-repeat padding-box;
    margin-top:48px;
    }
.footer-bottom p{
    color:#fff;
    text-align: center;
    font: normal normal normal 11px/31px Century Gothic;
    letter-spacing: 2.1px;
    padding-top: 7px;
    padding-bottom: 7px;
}    
@media(max-width:768px){
    .footer-wrapper{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .logo-footer{
        width:100%;
    }
    .logo-footer{
        margin-top: 64px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-left: 55px;
        padding-left: 45px;
   
    }
    .logo-footer img{
        width:100%;
    }
    .footer-menu{
        width:100%;
        margin-top: 15px;
    }
    .footer-info{
        width: 100%;
        padding-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-icons {
        display: block;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .footer-info h2{
        margin-bottom: 74px;
    }
}

.about-cta{
    padding-top: 70px;
    padding-bottom: 60px;
}
.about-cta-header h2{
    font: normal normal 200 50px/50px Montserrat;
    letter-spacing: 0px;
    color: #448CEC;
    opacity: 1;
}
@media(max-width:768px){
    .about-cta-header h2{
        font: normal normal 200 50px/50px Montserrat;
        letter-spacing: 0px;
        color: #448CEC;
        opacity: 1;
        text-align: center;
    } 
    .about-cta {
        padding-top: 19px;
        padding-bottom: 30px;
    }
}


.about-content-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-content-details{
    width:50%;
    padding-right:200px;
    padding-left: 0px;
}
.about-box{
    width: 50%;
}
.box{
    width: 450px;
    height: 400px;
    object-fit: contain;
    opacity: 1;
    position: absolute;
    margin-top:-250px;
    right: 90px;
}
.box img{
    width:100%;


}
.about-content{
    background: transparent linear-gradient(180deg, #4BD2EC 0%, #448CEC 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-top: 70px;
    padding-bottom: 100px;
}
.about-content-details p{
    font: normal normal normal 14px/31px Century Gothic;
    letter-spacing: 0.9px;
    color: #FFFFFF;
    opacity: 1;
}
@media(max-width:768px){
    .about-content-main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height:auto;
    }
    .about-content-details{
        width:100%;
        padding-right:0px;
        padding-left: 0px;
        text-align: center;
    }
    .about-box{
        width: 100%;
    }
    .box{
        width:100%;
        height:278px;
        background:transparent;
        opacity: 1;
        position:relative;
        margin-top:30px;
        right:0px;
        left:0px;
    }
    .about-content{
        padding-bottom: 46px;
    }    
}

.we-do-list{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-flow: wrap;
    flex-wrap: wrap;
    width:100%;
}
.we-do{
    padding-bottom: 70px;
}
.we-do h2{
    padding-bottom: 80px;
    text-align: center;
    font: normal normal 200 50px/100px Montserrat;
    letter-spacing: 0px;
    color: #448CEC;
    opacity: 1;
    margin-top:120px;
}
.we-do-card{
    width:30%;
    text-align: center;
    padding:10px;
}
.we-do-card h1{
    text-align: center;
    font-size:27px;
    letter-spacing: 2.5px;
    color: #717C96;
    font-family: 'Montserrat', sans-serif;
    /* font: normal normal medium 12px/31px Montserrat; */
    font-weight:500;
    opacity: 1;
    height: 80px;
}
.we-do-card p{
    letter-spacing: 0.9px;
    color: #434F6B80;
    /* opacity: 1; */
    font: normal normal normal 11.6px/23px Century Gothic;
    height: 200px;
}
@media(max-width:768px){
    .we-do-list{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        width:100%;
    }
    .we-do-card{
        width:100%;
        text-align: center;
        padding:0px;
    }
    .we-do-card p{
        letter-spacing: 0.9px;
        color: #434f6bb5;
        font: normal normal normal 17px/27px Century Gothic;
        height: auto;
        padding: 8px;
    }
    .we-do-card h1{
        text-align: center;
        font-size:33px;
        letter-spacing: 2.5px;
        color: #448CEC;
        font-family: 'Montserrat', sans-serif;
        /* font: normal normal medium 12px/31px Montserrat; */
        font-weight:500;
        opacity: 1;
        height:auto;
        margin-bottom: 15px;
    }
    .we-do h2 {
        padding-bottom:20px;
        text-align: center;
        font: normal normal 200 50px/100px Montserrat;
        letter-spacing: 0px;
        color: #448CEC;
        opacity: 1;
        margin-top:-60px ;
    }
}


.about-gold-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-box2{
    width: 50%;
    padding-top:60px;
}
.box2{
    width:529px;
    height: 440px;
    opacity: 1;
    position:relative;
    object-fit: cover;
    background: transparent;
}
.box2 img{
    width:100%;
}
.about-gold-sec{
    background: transparent linear-gradient(180deg, #4BD2EC 0%, #448CEC 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-bottom: 50px;
}
.about-gold-details{
    text-align: right;
    right:10px;
    width: 50%;
}
.about-gold-details h1{
    font: normal normal 200 57px/60px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 60px;
    margin-top: 80px;
}
.about-gold-details p{
    font: normal normal normal 14px/32px Century Gothic;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    opacity: 1;
    padding-left: 70px;
    margin-bottom: 40px;

}
@media(max-width:768px){
    .about-gold-main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column-reverse;
    }
    .about-gold-details{
        text-align:center;
        right:0px;
        width: 100%;
    }
    .about-box2{
        width: 100%;
        padding-top:0px;
    }
    .box2{
        width:100%;
        height: 240px;
        background:transparent;
        opacity: 1;
        position:relative;
    }
    .about-gold-details p{
        font: normal normal normal 16.5px/34px Century Gothic;
        letter-spacing: 1.2px;
        color: #FFFFFF;
        opacity: 1;
        padding-left:0px;
        margin-bottom: 40px;
    
    }
    .about-gold-details h1{
        font: normal normal 400 40px/60px Montserrat;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-bottom: 60px;
        margin-top: 80px;
    }
}



.line-1{
    position: absolute;
    z-index: 2;
    width: 0.5px;
    background-color: #448CEC;
    height: 412px;
    top: 100px;
    left:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.line-2 {
    position: absolute;
    z-index: 2;
    width: 0.5px;
    background-color: #ffffff;
    height:395px;
    top: 511px;
    left:50%;
    display: none;
}


.line-4 {
    position: absolute;
    z-index: 2;
    width: 0.5px;
    background-color: #fff;
    height:645px;
    top: 1966px;
    left:50%;
    display: none;
}
.line-4::after {
    position: absolute;
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius:0px;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%) rotate(315deg);
    top:336px;
}

.line-3 {
    position: absolute;
    z-index: 2;
    width: 0.5px;
    background-color: #448CEC;
    height:120px;
    top: 906px;
    left:50%;
}
.line-3::after {
    position: absolute;
    display: block;
    content: '';
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0px;
    background-color: #448CEC;
    left: 50%;
    transform: translateX(-50%) rotate(315deg);
    top: 110px;
}

@media(max-width:768px){
    .line-1{
        display: none;
    }
    .line-2{
        display: none;
    }
    .line-4{
        display: none;
    }
    .line-3 {
       display:none;
    }

}
.img-top{
    position:absolute;
    width:18%;
    left:70%;
    margin-top:-110px;
    z-index:-1;
}
.img-bottom{
    position:absolute;
    width:19%;
    left:70%;
    z-index:-1;
    margin-top: 270px;
}
@media(min-width:1400px) and (max-width:1600px){
    .img-bottom {
        position: absolute;
        width: 19%;
        left: 70%;
        z-index: -1;
        margin-top: 237px;
    }
}
@media(max-width:768px){
    .img-top{
        display: none;
    }
    .img-bottom {
        position: absolute;
        width: 51%;
        left: 30%;
        z-index: -1;
        margin-top: 695px;
    }}

 @media(min-width:840px) and (max-width:1025px){
    .icon-ai {
        margin-top: -574px;
    }
    .line5 {
        position: absolute;
        z-index: 2;
        width: 0.5px;
        background-color: #448CEC;
        left: 80px;
        height: 857px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: 48
    px
    ; */
    }
    .icon-pos {
        margin-top: -510px;
    }
    .line4 {
        position: absolute;
        z-index: 2;
        width: 0.5px;
        background-color: #fff;
        left: 80px;
        height: 644px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 48px;
    }
    .icon-gold {
        margin-top: -390 px;
    }
    .line3 {
        position: absolute;
        z-index: 2;
        width: 0.5px;
        background-color: #448CEC;
        left: 80px;
        height: 580px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon-oct {
        margin-top: -561px;
    }
    .line1 {
        position: absolute;
        z-index: 2;
        width: 0.5px;
        background-color: #448CEC;
        height: 837px;
        left: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon-wallet {
        margin-top: -694px;
    }
    .line2 {
        position: absolute;
        z-index: 2;
        width: 0.5px;
        background-color: #ffffff;
        left: 80px;
        height: 979px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
 }
 
 .form-section{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    padding-left: 90px;
    padding-right: 90px;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #448CEC;
    opacity: 1; /* Firefox */
    font: normal normal bold 16px/50px Montserrat;
    letter-spacing: 1px;
    color: #448CEC;
    text-transform: uppercase;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #448CEC;
    font: normal normal bold 16px/50px Montserrat;
    letter-spacing: 1px;
    color: #448CEC;
    text-transform: uppercase;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #448CEC;
    font: normal normal bold 16px/50px Montserrat;
    letter-spacing: 1px;
    color: #448CEC;
    text-transform: uppercase;
}
option {
    font-weight: normal;
    display: block;
    white-space:wrap !important;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

 .form-group1 .form-control {
    display: block;
    width: 100%;
    height: 69px;
    padding: 6px 12px;
    /* font-size: 14px; */
    line-height: 1.42857143;
    color: #448CEC;
    background-color:transparent;
    background-image: none;
    border: 1px solid #448CEC;
    box-shadow:none;
    border-radius: 0px;
    margin-bottom: 20px;
    font: normal normal bold 16px/50px Montserrat;
    letter-spacing: 1px;
    word-wrap: break-word;    
}
 .form-group2 .form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #448CEC;
    background-color:transparent;
    background-image: none;
    border-bottom: 1px solid #448CEC;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow:none;
    border-radius: 0px;
    margin-bottom: 20px;
}
.form-group3 .form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #448CEC;
    background-color:transparent;
    background-image: none;
    border-bottom: 1px solid #448CEC;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow:none;
    border-radius: 0px;
    margin-bottom: 20px;
}
.form-group4 .form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #448CEC;
    background-color:transparent;
    background-image: none;
    border-bottom: 1px solid #448CEC;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow:none;
    border-radius: 0px;
    margin-bottom: 40px;
}
.form-group5 .form-control {
    display: block;
    width: 100%;
    height: 124px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #448CEC !important;
    background-color:transparent;
    background-image: none;
    border: 1px solid #448CEC;
    box-shadow:none;
    border-radius: 0px;
    margin-bottom: 20px;
}
@media(max-width:768px){
    form{
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }
}



.btn-primary{
    border: 1px solid #448CEC;
    background: transparent;
    color:#448CEC;
    border-radius: 0px;
    width:150px;
    height:50px;
}
.btn-primary:hover{
    border-color:none;
    border:0px;
    background: transparent linear-gradient(153deg, #4BD2EC 0%, #448CEC 100%) 0% 0% no-repeat padding-box;
    color:#fff;
    border-radius: 0px;
    width:150px;
    height:50px;
}
.map{
    margin-top:70px;
}
.map-wrapper{
    width:100%;
}
.map-wrapper img{
    width: 100%;
    object-fit: cover;
}
.img-top-top{
    display:flex;
    justify-content: center;
    align-items: center;
}
.img-top-top{
    width:100%;
}
@media(max-width:768px){
    .img-top-top{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .map-wrapper {
        width: 100%;
        margin-top: -50px;
    }
    .form-section {
        margin-top: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}